TAUTULLI_API_KEY=
TAUTULLI_IP=
TAUTULLI_PORT=

CLIENTE_TORRENT_IP=
CLIENTE_TORRENT_PORT=
CLIENTE_TORRENT_USER=
CLIENTE_TORRENT_PASSWORD=

# Opciones: qbittorrent o transmission
CLIENTE_TORRENT=

# 0 para salida básica, 1 para debug
DEBUG_MODE=0
