TAUTULLI_API_KEY=
TAUTULLI_IP=
TAUTULLI_PORT=

CLIENTE_TORRENT=  # Opciones: qbittorrent o transmission

CLIENTE_TORRENT_IP=
CLIENTE_TORRENT_PORT=
CLIENTE_TORRENT_USER=
CLIENTE_TORRENT_PASSWORD=

DEBUG_MODE=0
TZ=Europe/Madrid